{% extends "core/base.html" %}
{% load static %}

{% block title %}
Credentials
{% endblock %}

{% block content %}
<div class="dashboard-content">
  <h1 class="dash-welcome">My Credentials</h1>
  <p class="dash-subtitle">
    Secure access information linked to your student profile.
  </p>
  <div class="glass-card" style="max-width: 600px; margin-top: 30px">
    <h3>Account Credentials</h3>
    <ul style="list-style: none; padding: 0; margin: 0">
      <li class="cred-row">
        <strong>Student Email:</strong>
        <span>{{ user.email }}</span>
      </li>

      <li class="cred-row">
        <strong>Hostel WiFi Username:</strong>
        <span>{{ creds.wifi_username }} </span>
      </li>

      <li class="cred-row">
        <strong>Hostel WiFi Password:</strong>
        <span>{{ creds.wifi_password }}</span>
      </li>

      <li class="cred-row">
        <strong>Library ID:</strong>
        <span>{{ creds.library_id }}</span>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
